# This file is the entry point to configure your own services.
# Files in the packages/ subdirectory configure your dependencies.

parameters:

services:
  _defaults:
    autowire: true
    autoconfigure: true

  App\:
    resource: '../src/'
    exclude:
      - '../src/DependencyInjection/'
      - '../src/Entity/'
      - '../src/Kernel.php'

  App\Domain\KnightStoreRepository: '@App\Infrastructure\Persistence\DbalKnightStoreRepository'
  App\Domain\KnightProviderRepository: '@App\Infrastructure\Persistence\DbalKnightProviderRepository'

  App\Infrastructure\Http\ValueResolver\NormalizableValueResolver:
    tags:
      - { name: controller.argument_value_resolver, priority: 100 }

  App\Shared\Id\IdGenerator: '@App\Infrastructure\Id\SymfonyUuidIdGenerator'

